* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@-webkit-keyframes throb {
	from {
		background-color: #000;
	}

	to {
		background-color: #303030;
	}
}

body {
	overflow: hidden;
	background-color: #fff;
}
.message {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	font-family: georgia;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
	padding: 40px;
}
.message.unread {
	-webkit-animation-duration: 1s;
	-webkit-animation-name: throb;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	background-color: #F83F26;
	color: #CEC021;
}
.message.read {
	color: #e0e0e0;
}
.message.read .batman {
	display: none;
}
.message.unread .text {
	position: relative;
	z-index: 1;
}
.message.unread .batman {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 50px;
	right: 50px;
	opacity: 1;
}
.message.unread .batman path {
	background: blue;
}
.input-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-top: 0px solid #404040;
	background-color: white;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
}
.input-container.unread {
	display: none;
}
#textbox {
	color: #404040;
	background: #E0E0E0;
	border: 0;
	position: absolute;
	height: 50px;
	bottom: 0;
	left: -5px;
	font-size: 34px;
	right: 180px;
	padding-left: 10px;
}
.input-container button {
	border: 0;
	font-size: 34px;
	color: white;
	background: #404040;
	position: absolute;
	right: 0;
	width: 180px;
	height: 50px;
}