* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
.message {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	font-size: 120px;
	font-weight: bold;
	text-align: center;
	font-family: georgia;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.75);
	padding: 40px;
}
.message.unread {
	background-color: #F83F26;
	color: #FAAFA4;
}
.message.read {
	background-color: #418F41;
	color: #52A352;
}

.input-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-top: 0px solid #404040;
	background-color: white;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
}
.input-container.unread {
	display: none;
}
#text {
	background: none;
	border: 0;
	position: absolute;
	height: 50px;
	bottom: 0;
	left: -5px;
	font-size: 34px;
	right: -5px;
	padding-left: 10px;
}
.input-container button {
	border: 0;
	font-size: 34px;
	color: white;
	background: #404040;
	position: absolute;
	right: 0;
	width: 180px;
	height: 50px;
}